{% extends 'Users/base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div id="background">
    <main>
        <div>

            
            <form action="{% url 'Users:login' %}" method="post">
                {% csrf_token %}
                <input class="dark_item" type="text" placeholder="Username:" name="username" required>
                <input class="dark_item" type="password" placeholder="Password" name="password" required>
                <input class="dark_item" type="submit" value="Login">
            </form>
            <a href="{% url 'Users:register' %}">Not registered? Sign up here!</a>
        </div>
    </main>
</div>

{% endblock %}