{% extends 'Users/base.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
<div id=background>
    <main>
        <div>

            <form action="{% url 'Users:register' %}" method="post">
                {% csrf_token %}
                {% if error %}
                {{error}}
                {% endif %}
                <input class="dark_item" type="text" placeholder="Username:" name="username" required>
                <input class="dark_item" type="email" placeholder="Email:" name="email" required>
                <input class="dark_item" type="password" placeholder="Password" name="password" required>
                <input class="dark_item" type="password" placeholder="Confirm Password" name="confirm_pass" required>
                <input class="dark_item" type="submit" value="Signup">
                <a href="{% url 'Users:login' %}">Already registered? Click here!</a>

            </form>
        </div>
    </main>
</div>


{% endblock %}
