{% extends 'Users/base.html' %}

{% block title %}
Home - {{user.username}}
{% endblock %}

{% block content %}
<div id='background'>
    <main>
        <div>
            {% load static %}
            <h1>hi {{user.username}}</h1>
            <a href="{% url 'trivia:create_game' %}"><img src="{% static 'trivia/create.gif' %}" alt="create game"></a>
            <a href="{% url 'trivia:play_game' %}"><img src="{% static 'trivia/play.gif' %}" alt="play"></a>

        </div>
    </main>

</div>
<a href="{% url 'Users:logout' %}">logout</a>
{% endblock %}