{% extends 'trivia/base.html' %}

{% block title %}Game - {{ game_num }}{% endblock %}

{% block content %}
<div id="game-display">
    <H1 id="game-name">Game - {{ game_num }}</H1>
    <h2 id="total_question">{{ total_questions }} </h2>
</div>

<div id="trivia">
    <div id='game' >
        <h1>Question [[ currquestion_num ]]</h1>
        <h2>[[ currquestion ]]</h2>
        <section id="multiple" v-if="[[ currtruefalse ]] == 'true' ">
            <ul>
                <li>True</li>
                <li>False</li>
            </ul>
        </section>
        <section id="truefalse" v-else>
            <ol>
                <li> [[ curranswers[0] ]]</li>
                <li> [[ curranswers[1] ]]</li>
                <li> [[ curranswers[2] ]]</li>
                <li> [[ curranswers[3] ]]</li>
            </ol>
        </section>
        


        <button id="next" v-on:click='nextQuestion'>next</button>
        <button id="showanswers" v-on:click='showAnswers'>And the answer is...</button>
    </div>
    <div id="waiting">
        <div id="players-list">
        </div>
        <button v-on:click='startGame' >Let's Play</button>
    </div>
</div>


 
<!-- takes game_num variable and passes it into script variable room-name -->
{{ game_num|json_script:"room-name" }} 
{{ serializedQ | json_script:"json-data" }}
<script>
    const value = JSON.parse(document.getElementById('json-data').textContent);
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    console.log(value)
    const chatSocket = new WebSocket(
        'ws://' +
        window.location.host +
        '/ws/trivia/' +
        roomName +
        '/'
        
        );
    function socket_startGame (e){
        console.log(e)
        chatSocket.send(JSON.stringify({
            "message":"start"
        }))
    }

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data)
        if (data.player != null){
            let player_div = document.getElementById('players-list')
            let player = document.createElement('button')
            
            let num = player_div.childElementCount + 1
            player.name = num
            player.value = data.player
            player.innerText = data.player

            player_div.appendChild(player)

        } else if(data.remove_player != null){
            let player_div = document.getElementById('players-list')
            let remove_player = document.getElementById(data.remove_player)

            player_div.removeChild(remove_player)
        } 
    }
</script>

{% endblock %}